
body{
	margin: 0;
}


.container{
	position: relative;
        background: green;
        background: -moz-linear-gradient(green,#9ACD32);
        background: -webkit-linear-gradient(green,#9ACD32);
        height: 30px;
        padding-bottom: 12px;
	width: 100%;
        border-top: 0 none;
        border-bottom: 1px solid #9acd32;
}
.container ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border-radius: 5px;
}
.li-home{
        border-left: 0 none;
}
.border-right{
        border-right: 1px solid #9acd32;
}
.container  li{
	width: 180px;
        background: green;
        background: -moz-linear-gradient(green,#9ACD32);
        background: -webkit-linear-gradient(green,#9ACD32);
	border-radius: 0px;
	display: block;
	float: left;
	position: relative;
	font-size: 15px;
	height: 40px;
	font-family: arial,helvitica,serif,sans-serif;
	text-align: center;
}
.container li:hover{
       /* background: url('../images/nav-header.jpg');*/
        background: #9acd32; 
        
}
.container li a{
	display: block;
	text-decoration: none;
	padding:14px 43px 13px 44px;
	z-index:1000;
	position:relative;
	color: #EFFECF;
	font-weight: bold;
	text-align: center;
}
.container ul li ul{
	display: none;
	top: 39.5px;
	padding: 1px 0 0 0;
	position: absolute;
}
.container ul li:hover ul{
	display: block;
        border: 0 none;
}
.container ul li ul li{
	background: -moz-linear-gradient(green,#9ACD32);
        background: -webkit-linear-gradient(green,#9ACD32);
        border: 1px solid #9acd32;
        border-bottom: 0 none;
        display: block;
        font-family: arial,helvitica,serif,sans-serif;
        font-size: 10px;
        height: 30px;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: start;
        width: 200px;
}
.container ul li ul li:hover{
        background: -moz-linear-gradient(green,#9acd32);
        background: -webkit-linear-gradient(green,#9acd32);
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        
}
.container ul li ul li a{
	font-weight: normal;
	color: #000;
	display: block;
	text-decoration: none;
	padding: 6px 10px 10px;
	z-index: 1000;
	position: relative;
	text-align: start;
}
.container ul li ul li a:hover{
        color: #fff;
}
